<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zikailiu.currencyconverter</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>28FCB3EB-2308-4B94-B27D-45E9BEFDA501</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3D4CE3A-CB6F-4067-B073-5A39A8179510</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CFD02D8-73A1-427E-9C05-AF329D81237A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3D4CE3A-CB6F-4067-B073-5A39A8179510</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C679115-FDB9-441F-911B-902764E868A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3D4CE3A-CB6F-4067-B073-5A39A8179510</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA4B7604-68D8-43A4-B499-22FBA6C4A21D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3D4CE3A-CB6F-4067-B073-5A39A8179510</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3D4CE3A-CB6F-4067-B073-5A39A8179510</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1707E121-60AC-4B03-91DE-28B7BA80BAB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9F0A2B7E-8F4D-4B63-B584-21D326C8E368</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A46651F0-B1D2-43BE-893C-732936F5218D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>961FB1AF-8AD1-466E-AE2C-FDA1295DB50F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>544C8282-16B8-41D9-A322-419B62879E9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE8905AC-C1E2-4825-8E66-F2342CEF2D37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3D4CE3A-CB6F-4067-B073-5A39A8179510</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zikai Liu</string>
	<key>description</key>
	<string>A simple currency converter tailored to your needs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Currency Converter for the Rest of Us</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>rm last_fetch_time.txt</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1707E121-60AC-4B03-91DE-28B7BA80BAB5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>chf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Waiting...</string>
				<key>script</key>
				<string>python3 convert.py 'CHF' 'CNY,EUR,USD,JPY' {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>convert.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Convert Currency</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FE8905AC-C1E2-4825-8E66-F2342CEF2D37</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cny</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Waiting...</string>
				<key>script</key>
				<string>python3 convert.py 'CNY' 'CHF,EUR,USD,JPY' {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>convert.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Convert Currency</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9C679115-FDB9-441F-911B-902764E868A1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>refresh</string>
						<key>outputlabel</key>
						<string>refresh</string>
						<key>uid</key>
						<string>9F0A2B7E-8F4D-4B63-B584-21D326C8E368</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>README</string>
						<key>outputlabel</key>
						<string>README</string>
						<key>uid</key>
						<string>961FB1AF-8AD1-466E-AE2C-FDA1295DB50F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F3D4CE3A-CB6F-4067-B073-5A39A8179510</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/liuzikai/alfred-currency-converter-for-the-rest-of-us</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A46651F0-B1D2-43BE-893C-732936F5218D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>eur</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Waiting...</string>
				<key>script</key>
				<string>python3 convert.py 'EUR' 'CNY,CNY,USD,JPY' {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>convert.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Convert Currency</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CA4B7604-68D8-43A4-B499-22FBA6C4A21D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>544C8282-16B8-41D9-A322-419B62879E9C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>usd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Waiting...</string>
				<key>script</key>
				<string>python3 convert.py 'USD' 'CNY,CHF,EUR,JPY' {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>convert.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Convert Currency</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7CFD02D8-73A1-427E-9C05-AF329D81237A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jpy</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Waiting...</string>
				<key>script</key>
				<string>python3 convert.py 'JPY' 'CNY,CHF,EUR,USD' {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>convert.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Convert Currency</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>28FCB3EB-2308-4B94-B27D-45E9BEFDA501</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1707E121-60AC-4B03-91DE-28B7BA80BAB5</key>
		<dict>
			<key>note</key>
			<string>Delete last_fetch_time.txt</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>28FCB3EB-2308-4B94-B27D-45E9BEFDA501</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>544C8282-16B8-41D9-A322-419B62879E9C</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>7CFD02D8-73A1-427E-9C05-AF329D81237A</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>9C679115-FDB9-441F-911B-902764E868A1</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>A46651F0-B1D2-43BE-893C-732936F5218D</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>CA4B7604-68D8-43A4-B499-22FBA6C4A21D</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>F3D4CE3A-CB6F-4067-B073-5A39A8179510</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>FE8905AC-C1E2-4825-8E66-F2342CEF2D37</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>github.com/liuzikai/alfred-currency-converter-for-the-rest-of-us</string>
</dict>
</plist>
